@import './reboot';

$baseFontSize: 16;
html {
  font-size: $baseFontSize + px;
}
@function rem($pixels) {
  @return $pixels / $baseFontSize * 1rem;
}

.content-width {
  margin: 0 auto;
  width: 90%;
}
.content-centered {
  margin: 0 auto;
}

#global-container {
  width: 100%;
  background-color: rgb(43, 40, 40);
  color: white;
}

.font-xs {
  font-size: rem(11);
}
.font-sm {
  font-size: rem(12.5);
}
.font-md {
  font-size: rem(14);
}
.font-lr {
  font-size: rem(20);
}
.font-lg {
  font-size: rem(25);
  font-weight: 600;
}

ul,
li {
  list-style: none;
  text-decoration: none;
  color: black;
}

#container {
  @extend .content-width;
  max-width: 1000px;
}

.header {
  position: fixed;
  width: 100%;
  height: rem(40);
  background-color: white;
  &__inner {
    @extend .content-width;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: black;
  }
  &__site-title {
      @extend .font-lr;
      font-weight: 600;
  }
  &__nav {
      display: none;
    &-list {
      display: flex;
    }
    &-item {
      margin-right: rem(10);
    }
  }
}

.main {
  padding-top: rem(60);
  max-width: 100%;
  &__img-wrapper {
    width: rem(100);
    height: rem(100);
    overflow: hidden;
  }
  &__img {
    max-width: 100%;
  }
}

.items {
  &__theme {
    display: block;
    padding: rem(3);
    background-color: purple;
    text-align: center;
    @extend .font-lr;
  }
}

.item {
  &-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: rem(-10);
  }
  &-card {
    text-align: center;
    flex-basis: 47%;
    margin-right: 2%;
    color: rgb(48, 47, 47);
    background-color: rgb(221, 221, 221);
    border-radius: 10px;
    border: 2px solid rgb(157, 107, 177);
    opacity: 0.9;
    transition: opacity 0.4s;
    margin-bottom: rem(10);
    &:nth-of-type(2n) {
      margin-right: 0;
    }
    &:hover {
      cursor: pointer;
      opacity: 1;
    }
    &__name {
      @extend .font-md;
      font-weight: 600;
    }
    &__img-wrapper {
      overflow: hidden;
      width: 100%;
    }
    &__img {
      max-width: 90%;
      border-radius: 5px;
    }
    &__body {
      display: flex;
      flex-direction: column;
      @extend .content-centered;
      width: 80%;
    }
    &__description {
      @extend .font-sm;
      text-align: left;
    }
    &__processing-area {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__btn {
      &:hover {
        cursor: pointer;
        opacity: 0;
      }
    }
    &__price {
        @extend .font-sm;
    }
  }
}
